.main-header-menu {
    display: flex;
    font-family: var(--bs-body-font-family);
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: 15px;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.main-header-menu a {
    text-decoration: none;
    color: var(--text-light);
    font-size: clamp(1rem, 4vw, 1.5em);
    font-weight: 600;
    white-space: nowrap;
}

.main-header-menu a:hover,
.main-header-menu a:focus {
  color: var(--accent-color);
  text-decoration: underline;
}

.main-header-menu a.active {
    color: var(--accent-color);
    text-decoration: underline;
  }